*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: white;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font-size: 42px;
}
.content{
   border: 2px dashed ;
   border-radius: 10px;
   margin: 20px;
   overflow: hidden;
   background-color: white;
}
.content-page{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.content-page img{
    width: 600%;
    height: 200px;
    object-position: center;
    object-fit: cover;
    border-radius: 10px;
}
.content-page a{
    position: relative;
    background: rgba(255, 255, 255, 0.571);
    text-align: center;
    width: 120%;
    height: 70px;
    padding: 20px 0;
    text-decoration: none;
    border-left: 2px solid;
    color: black;
}
.content-page a:hover{
    font-weight: 600;
}

@media (max-width: 500px) {
  .content:hover{
        transform: scale(1.01);
        cursor: pointer;
    }
    .content-page{
        display: flex;
        flex-direction: column ;
        padding: 20px;
    }
    .content-page img{
        width: 100%;
        object-position: top;
        border-radius: 10px;
    }
    .content-page a{
        height: 0;
        text-align: center;
        border: none;
    }
    .content-page a:hover{
        font-weight: normal;
    }
}


@media (min-width: 750px) {
    .content{
        border: 2px solid;
    }
    .content-page{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    .content-page img{
        width: 600px;
        border-radius: 10px;
    }
    .content-page a{
        width: 100%;
        height: 50px;
        text-align: center;
        border: none;
        background: rgba(125, 125, 125, 0.327);
    }
}
